<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../keep/static/css/index.css" th:href="@{/static/css/index.css}">
    <link rel="stylesheet" type="text/css" href="../../keep/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" th:href="@{/static/bootstrap-3.3.7-dist/css/bootstrap.min.css}">
    <link rel="shortcut icon" href="/static/public/favicon.ico" th:href="@{/static/public/favicon.ico}"/>
    <link rel="shortcut icon" href="/static/public/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>leetcodes</title>
</head>
<body>
<div th:replace="~{/commons/bar::topmenu}"></div>

<div th:each="leetcode:${leetcodes}">

    <div class="container">
        <div class="jumbotron">
            <h3 th:text="${leetcode.leetcode_id}+'：'+${leetcode.leetcode_title}"></h3><br><br>
            <p th:text="${leetcode.leetcode_question}" class="pre-pre"></p>
            <hr>
            <p th:text="${leetcode.leetcode_answer}" class="pre-pre"></p>
        </div>
    </div>
</div>

<div class="container">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a aria-label="Next" th:href="@{${lpg gt 1?'/leetcode?lpg='+(lpg-1):'#'}}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li th:each="page:${#numbers.sequence(1,lpages)}" th:class="${lpg==page}?active"><a th:href="@{'/leetcode?lpg='+${page}}" th:text="${page}"></a></li>
            <li>
                <a aria-label="Next" th:href="@{${lpg lt lpages?'/leetcode?='+(lpg+1):'#'}}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>


</body>
</html>