<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/css/style.css" th:href="@{/static/css/style.css}">
    <link rel="shortcut icon" href="/static/public/favicon.ico" th:href="@{/static/public/favicon.ico}"/>
    <title class="title">
    Login<br>
    </title>
</head>
<body>

<div class="login-box">
    <h1>Login</h1>
    <form action="login" method="post">

        <div class="text-box">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            <input type="text" placeholder="Username" name="username" required="required">
        </div>

        <div class="text-box">
            <i class="fa fa-lock" aria-hidden="true"></i>
            <input type="password" placeholder="Password" name="password" required="required">
        </div>

        <div class="message" th:text="${msg}"></div>

        <input class="button" type="submit" name="submit" value="Sign in">
    </form>
</div>
</body>
</html>