<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>编辑页面</title>
    <link rel="stylesheet" type="text/css" href="../../../keep/static/css/index.css" th:href="@{/static/css/index.css}">
    <link rel="stylesheet" type="text/css" href="../../../keep/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" th:href="@{/static/bootstrap-3.3.7-dist/css/bootstrap.min.css}">
    <link rel="shortcut icon" href="/static/public/favicon.ico" th:href="@{/static/public/favicon.ico}"/>
</head>
<body>
<div th:replace="~{/commons/bar::topmenu}"></div>

<div>
    <form class="form-horizontal" action="article" th:action="@{/article}" method="post">
         <input name="_method" type="hidden" th:value="${article}==null?'post':'put'">
         <input th:if="${article}!=null" name="article_id" type="hidden" th:value="${article.article_id}">
         <input name="user_id" type="hidden" th:value="${session.user.user_id}">

        <div class="form-group">
            <label class="col-sm-2 control-label">文章名：</label><br>
            <div class="col-sm-6" >
                <input class="form-control" type="text" th:placeholder="${article}==null?'title':${article.article_title}" placeholder="title" name="article_title">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">正文：</label><br>
            <div class="col-sm-6" >
                <textarea class="form-control" rows="8" cols="12" name="article_content" th:text="${article}==null?'content':${article.article_content}"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-1 col-sm-offset-5" >
                <input class="form-control" type="submit" name="submit" value="发布">
            </div>
        </div>

    </form>
</div>

</body>
</html>
