<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>仪表盘</title>
    <link rel="stylesheet" type="text/css" href="staitc/css/console.css" th:href="@{/static/css/console.css}">
    <link rel="stylesheet" type="text/css" href="/WEB-INF/static/css/index.css" th:href="@{/static/css/index.css}">
    <link rel="stylesheet" type="text/css" href="../../../keep/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" th:href="@{/static/bootstrap-3.3.7-dist/css/bootstrap.min.css}">
    <link rel="shortcut icon" href="/static/public/favicon.ico" th:href="@{/static/public/favicon.ico}"/>
    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
            background-color:#ececec;
            padding: 0px;
            margin: 0;
        }
    </style>

    <script>
    function switchToArticles(){

            document.getElementById("articlelist").style.display = "block";
            document.getElementById("articleNav").className = "activeNav";

            document.getElementById("leetcodelist").style.display = "none";
            document.getElementById("leetcodeNav").className= "nonActiveNav";
        }

        function switchToLeetcodes(){

            document.getElementById("leetcodelist").style.display = "block";
            document.getElementById("leetcodeNav").className= "activeNav";


            document.getElementById("articlelist").style.display = "none";
            document.getElementById("articleNav").className= "nonActiveNav";

        }
    </script>

    <script>
        function deleteA() {
            let i;
            const checkmemm = document.getElementsByClassName("check_item");
            const ans = confirm("确认删除吗？");
            if(ans){
                let article_id= new Array();
                let j=0;
                for(i = 0; i < checkmemm.length ; i++ )
                {
                    if(checkmemm[i].checked){
                        article_id[j]=parseInt(checkmemm[i].parentElement.nextElementSibling.textContent);
                        j++;
                    }
                }
                fetch('../articleMulti', {
                    method: 'delete',
                    body: JSON.stringify(article_id),
                    traditional:true,
                    headers: { 'Content-Type': 'application/json;charset=utf-8'}

                });
            }
            location.reload();
        }

        function deleteL(id) {
            const checkmemmm = document.getElementsByClassName("check_item_L");
            const ans = confirm("确认删除吗？");
            if(ans){
                let leetcode_id= new Array();
                if(id>-1){
                    leetcode_id[0]=id;
                }else{
                    let j=0;
                    for(let i = 0; i < checkmemmm.length ; i++ )
                    {
                        if(checkmemmm[i].checked){
                            leetcode_id[j]=parseInt(checkmemmm[i].parentElement.nextElementSibling.textContent);
                            j++;
                        }
                    }
                }
                fetch('../leetcodeMulti', {
                    method: 'delete',
                    body: JSON.stringify(leetcode_id),
                    traditional:true,
                    headers: { 'Content-Type': 'application/json;charset=utf-8'}
                }).then(function(response){
                    response.json().then(function(json){
                        const container = document.getElementById('container');
                        container.className="table table-hover";
                        container.innerHTML="<tr>\n" +
                            "<th>\n" +
                            "      <input type=\"checkbox\" id=\"check_all_L\" onclick=\"checkbox_L()\">\n" +
                            "</th>\n" +
                            "            <th>序号</th>\n" +
                            "            <th>力扣题目</th>\n" +
                            "            <th>操作</th>\n" +
                            "        </tr>";
                        json.forEach(item => {
                            container.innerHTML+="<tr>" +
                                "<td><input type=\"checkbox\" class=\"check_item_L\" onclick=\"checkitem_L()\"></td>"+
                                "<td>"+`${item.leetcode_id}`+"</td>" +
                                "<td>"+`${item.leetcode_title}`+"</td>" +
                                "<td>" +
                                "<a href=\"leetcodeAdd/"+`${item.leetcode_id}`+"\"><button class=\"btn btn-primary btn-sm\" style='margin-right: 4px'><span class=\"glyphicon glyphicon-pencil\"></span> 编辑</button></a>" +
                                "<a href=\"#\"><button class=\"btn btn-danger btn-sm\" onclick=\"deleteL("+`${item.leetcode_id}`+")\"><span class=\"glyphicon glyphicon-pencil\"></span> 删除</button></a>" +
                                "</td>" +
                                "</tr>";
                        });
                    })
                });
                const lis = document.getElementById("leetcodePage").children;
                for(let p=1;p<lis.length-1;p++){
                    if(p==1){
                        lis[p].className="active";
                    }else{
                        lis[p].className="";
                    }
                }
            }
        }
    </script>
    <script>
        function checkbox(){

            let i;
            const checked = document.getElementById("check_all");
            const checkmem = document.getElementsByClassName("check_item");
            if(checked.checked){
                for(i = 0; i < checkmem.length ; i++ )
                {
                    checkmem[i].checked=true;
                }
            }else{
                for(i = 0; i < checkmem.length ; i++ )
                {
                    checkmem[i].checked=false;
                }
            }
        }

        function checkitem(){
            let i;
            let sum=0;
            const checked = document.getElementById("check_all");
            const checkmem = document.getElementsByClassName("check_item");

            for(i = 0; i < checkmem.length ; i++ )
            {
                if(checkmem[i].checked){
                    sum++;
                }
            }

            if(sum==0){
                checked.checked=false;
            }else if(sum==checkmem.length){
                checked.checked=true;
            }
        }

        function checkbox_L(){

            let i;
            const checked = document.getElementById("check_all_L");
            const checkmem = document.getElementsByClassName("check_item_L");
            if(checked.checked){
                for(i = 0; i < checkmem.length ; i++ )
                {
                    checkmem[i].checked=true;
                }
            }else{
                for(i = 0; i < checkmem.length ; i++ )
                {
                    checkmem[i].checked=false;
                }
            }
        }

        function checkitem_L(){
            let i;
            let sum=0;
            const checked = document.getElementById("check_all_L");
            const checkmem = document.getElementsByClassName("check_item_L");

            for(i = 0; i < checkmem.length ; i++ )
            {
                if(checkmem[i].checked){
                    sum++;
                }
            }

            if(sum==0){
                checked.checked=false;
            }else if(sum==checkmem.length){
                checked.checked=true;
            }
        }
    </script>


</head>
<body>
<div th:replace="~{/commons/bar::topmenu}"></div>

<div class="colunm">
    <nav class="sidemenu" style="padding-right: 30px">
        <ul>
            <li><span style="text-align: center;background: #348571">仪表盘</span></li>
            <li onclick="switchToArticles()" id="articleNav" class="activeNav">文章</li>
            <li onclick="switchToLeetcodes()" id="leetcodeNav" class="nonActiveNav">力扣题解</li>
        </ul>
    </nav>

    <!--class="list"-->
    <div  id="articlelist" class="container-fluid">
        <div class="row">
            <div class="col-md-12"><h3 >文章列表</h3></div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-6">
                <a href="/articleMulti" th:href="@{#}"><button class="btn btn-danger" onclick="deleteA()" >删除</button></a>
                <a href="/admin/articleAdd" th:href="@{/admin/articleAdd}" style="display:inline"><button class="btn btn-success">添加</button></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <table class="table table-hover">
                    <tr>
                        <th>
                            <input type="checkbox" id="check_all" onclick="checkbox()">
                        </th>
                        <th>序号</th>
                        <th>文章名</th>
                        <th>发布时间</th>
                        <th>操作</th>
                    </tr>
                    <div th:each="article:${articles}">
                        <tr>
                            <td><input type="checkbox" class="check_item" onclick="checkitem()"></td>
                            <td th:text="${article.article_id}"></td>
                            <td th:text="${article.article_title}"></td>
                            <td th:text="${#dates.format(article.publish_time,'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td>
                                <a href="#" th:href="@{'/admin/articleAdd/'+${article.article_id}}"><button class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-pencil"> </span> 编辑</button></a>
                                <form action="article" th:action="@{/article}" method="post" style="display: inline">
                                    <input type="hidden" name="_method" th:value="delete">
                                    <input type="hidden" name="article_id" th:value="${article.article_id}">
                                    <button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span> 删除</button>
                                </form>
                            </td>
                        </tr>
                    </div>
                </table>
            </div>
        </div>

        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a aria-label="Next" th:href="@{${apg gt 1?'/admin/console?apg='+(apg-1):'#'}}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:each="page:${#numbers.sequence(1,apages)}" th:class="${apg==page}?active"><a th:href="@{'/admin/console?apg='+${page}}" th:text="${page}"></a></li>
                <li>
                    <a aria-label="Next" th:href="@{${apg lt apages?'/admin/console?='+(apg+1):'#'}}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>
    <!--class="list"-->
    <div id="leetcodelist" class="container-fluid">
        <div class="row">
            <div class="col-md-12"><h3>力扣列表</h3></div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-6">
                <a href="/articleMulti" th:href="@{#}"><button class="btn btn-danger" th:onclick="'javascript:deleteL('+${-1}+');'">删除</button></a>
                <a href="/admin/leetcodeAdd" th:href="@{/admin/leetcodeAdd}"><button class="btn btn-success" style="display:inline">添加</button></a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <table id="container" class="table table-hover">
                    <tr>
                        <th>
                            <input type="checkbox" id="check_all_L" onclick="checkbox_L()">
                        </th>
                        <th>序号</th>
                        <th>力扣题目</th>
                        <th>操作</th>
                    </tr>
                    <div >
                        <tr th:each="leetcode:${leetcodes}">
                            <td><input type="checkbox" class="check_item_L" onclick="checkitem_L()"></td>
                            <td th:text="${leetcode.leetcode_id}"></td>
                            <td th:text="${leetcode.leetcode_title}"></td>
                            <td>
                                <a href="#" th:href="@{'/admin/leetcodeAdd/'+${leetcode.leetcode_id}}"><button class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-pencil"></span> 编辑</button></a>
                                <a href="#" th:href="@{#}"><button class="btn btn-danger btn-sm" th:onclick="'javascript:deleteL('+${leetcode.leetcode_id}+');'"><span class="glyphicon glyphicon-pencil"></span> 删除</button></a>
<!--                                <form action="leetcode" th:action="@{/leetcode}" method="post" style="display: inline">-->
<!--                                    <input type="hidden" name="_method" th:value="delete">-->
<!--                                    <input type="hidden" name="leetcode_id" th:value="${leetcode.leetcode_id}">-->
<!--                                    <button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span> 删除</button>-->
<!--                                </form>-->
                            </td>
                        </tr>
                    </div>
                </table>
            </div>
        </div>



        <nav aria-label="Page navigation">
            <ul class="pagination" id="leetcodePage">
                <li>
                    <a aria-label="Previous" style="cursor: pointer" th:onclick="'javascript:loadLeetcode('+${lpg>1?lpg-1:lpg}+');'">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:each="page:${#numbers.sequence(1,lpages)}" th:class="${lpg==page}?active"><a style="cursor: pointer" th:onclick="'javascript:loadLeetcode('+${page}+');'" th:text="${page}"></a></li>
                <li>
                    <a aria-label="Next" style="cursor: pointer" th:onclick="'javascript:loadLeetcode('+${lpg<lpages?lpg+1:lpg}+');'">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>


<script>
    function loadLeetcode(page)
    {
        const lis = document.getElementById("leetcodePage").children;
        for(let i=1; i<lis.length-1; i++){
            if(i==page){
                lis[i].className="active";
            }else{
                lis[i].className="";
            }
        }
        fetch("/pigletter/ooo?lpg="+page).then(function(response){
            response.json().then(function(json){
                const container = document.getElementById('container');
                container.className="table table-hover";
                container.innerHTML="<tr>\n" +
                    "<th>\n" +
                    "      <input type=\"checkbox\" id=\"check_all_L\" onclick=\"checkbox_L()\">\n" +
                    "</th>\n"+
                    "<th>序号</th>\n" +
                    "<th>力扣题目</th>\n" +
                    "<th>操作</th>\n" +
                    "        </tr>";
                json.forEach(item => {
                    container.innerHTML+="<tr>" +
                        "<td><input type=\"checkbox\" class=\"check_item_L\" onclick=\"checkitem_L()\"></td>"+
                        "<td>"+`${item.leetcode_id}`+"</td>" +
                        "<td>"+`${item.leetcode_title}`+"</td>" +
                        "<td>" +
                            "<a href=\"leetcodeAdd/"+`${item.leetcode_id}`+"\"><button class=\"btn btn-primary btn-sm\" style='margin-right: 4px'><span class=\"glyphicon glyphicon-pencil\"></span> 编辑</button></a>" +
                            "<a href=\"#\"><button class=\"btn btn-danger btn-sm\" onclick=\"deleteL("+`${item.leetcode_id}`+")\"><span class=\"glyphicon glyphicon-pencil\"></span> 删除</button></a>" +
                        "</td>" +
                        "</tr>";
                });
            })
        })

    }
</script>
</body>
</html>