<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="../../../keep/static/css/index.css" th:href="@{/static/css/index.css}">
    <link rel="shortcut icon" href="/static/public/favicon.ico" th:href="@{/static/public/favicon.ico}"/>
<title>
    Personal Center
</title>
</head>
<body>
<div th:replace="~{/commons/bar::topmenu}"></div>
<h3 th:text="${msg}"></h3>
<p>
    <table>
        <tr>
            <td>姓名</td>
            <td th:text="${session.user.user_name}">${Sessionscope.user.user_name}</td>
        </tr>
        <tr>
            <td>邮箱</td>
            <td th:text="${session.user.user_email}">${Sessionscope.user.user_email}</td>
        </tr>
    </table>
</p>
<p>
    <a href="../index.html">
        <button href="logout" th:href="@{/logout}">注销</button>
    </a>

</p>
</body>
</html>